.filter-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.filter-section > h3 {
    font-family: Inter, sans-serif;
    font-size: 40px;
}

.filters-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
}