* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.container-hero {
    padding-left: 200px;
    padding-right: 200px;
}

.container {
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    border-radius: var(--radius-l);
}